ISAACLAB_ROOT=/home/hsc/IsaacLab
UNITREE_RL_LAB_ROOT=/home/hsc/unitree_rl_lab
UNITREE_MUJOCO_ROOT=/home/hsc/unitree_mujoco
CUSTOM_DOG_CONDA_ENV=env_isaaclab
CUSTOM_DOG_DESCRIPTION_DIR=/home/hsc/custom_dog_stack/ros2/src/custom_dog_description
OMNI_KIT_ACCEPT_EULA=YES
